.content {
  display: flex;
  height: 100%;
  width: 100%;
}
.user-list {
  flex: 0 0 auto;
  width: 200px;
}
.chat-list {
  flex: 0 0 auto;
  width: 200px;
}
.chat {
  flex: 1;
}
.separator {
  width: 5px;
  background: #f0f0f0 no-repeat center;
  cursor: col-resize;
  background-image: url('../../assets/gutter.png');
}
